.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

.jumbotron {
    background-image:url('https://static.pexels.com/photos/1702/bow-tie-businessman-fashion-man.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:150px;
}

.jumbotron .container {
    position: relative;
    top:100px;
}

.jumbotron h1 {
    color: #fff;
    font-size: 38px;
    font-weight: bold;
}

.jumbotron p {
    font-size: 18px;
    color: #fff;
}


.neighborhood-guides{
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}
.neighborhood-guides h2{
    color:#393c3d;
    font-size:24px;
}
.neighborhood-guides p{
    font-size:15px;
    margin-bottom:13px;
}



.enjoy-css {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #02231C;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "montserrat", Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 0.25px;
    word-spacing: 2px;
    background: #01604f;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
    text-shadow: 0 0 0 rgba(15,73,168,0.66) ;
}

.enjoy-css:hover {
    background: #015142;
}

.button-submit {
    display: inline-block;
.box-sizing(content-box);
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "montserrat", Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #01604f;
.box-shadow(1px 1px 1px 0 rgba(0,0,0,0.2) );
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
.transition(all 300ms cubic-bezier(0.42, 0, 0.58, 1));
}


.button-submit:hover {
    background: rgba(1,81,66,1);
}




/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline; }

body {
    line-height: 1;

}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}
body {
    color: #505050;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
}
/* =Scss Variables
-------------------------------------------------------------- */
/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }



/* Headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 300;
}


/* =Template
-------------------------------------------------------------- */
#wrapper {
    width: 100%;
    margin: 0 auto;
}

#main {
    background-color: #fff;
    padding-top: 150px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 30px;
}

section {
    padding: 60px 0;
}
section h1 {
    font-weight: 700;
    margin-bottom: 10px;
}
section p {
    margin-bottom: 30px;
}
section p:last-child {
    margin-bottom: 0;
}
section.color {
    background-color: #01604f;
    color: white;
}

/* =Info Bar
-------------------------------------------------------------- */
#info-bar {
    background-color: #01231c;
}
#info-bar a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 10px;
}
#info-bar a:hover {
    background-color: #01231e;
}
#info-bar span.all-tutorials,
#info-bar span.back-to-tutorial {
    display: block;
    width: 50%;
}
#info-bar span.all-tutorials {
    float: left;
    text-align: left;
}
#info-bar span.back-to-tutorial {
    float: right;
    text-align: right;
}

/* =Header
-------------------------------------------------------------- */
header {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #02231c;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header h1#logo {
    display: inline-block;
    height: 150px;
    line-height: 100px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header nav a {
    display:inline-block;
    float:right;
    line-height: 150px;
    margin-left: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav a:hover {
    color: white;
}
header.smaller {
    height: 75px;
}
header.smaller h1#logo {
    width: 150px;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
}
header.smaller nav a {
    line-height: 75px;
}

/* =Footer
-------------------------------------------------------------- */
/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 660px) {
    /* =Header
    -------------------------------------------------------------- */
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    header.smaller {
        height: 75px;
    }
    header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
    header.smaller nav {
        height: 35px;
    }
    header.smaller nav a {
        line-height: 35px;
    }
}
@media all and (max-width: 600px) {
    .container {
        width: 100%;
    }

    #info-bar a {
        display: block;
    }
    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
        width: 100%;
    }
    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
        float: none;
        text-align: center;
    }

}
